body {
  margin: 0;
}

a {
  color: rgb(244, 36, 237);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  font-size: 5em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: green;
}

.box3 {
  background-color: blue;
}

.header{
  background-color: blue;
  color: rgb(0, 211, 116);
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}


/* este selector lo suyo sería hacerlo de clase, pero el profe por hacerlo rápido lo ha hecho de etiqueta puesto que es un ejemplo

nav{
  display: flex;
  gap: 30px;
} */

