body {
  margin: 0;
}

a {
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  font-size: 5em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: green;
}

.box3 {
  background-color: blue;
}