body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-style: oblique;
  font-weight: 700;
}

h2:hover {
  color: rgba(123, 56, 255, 0.5);
  cursor: pointer;
}

main {
  background-color: lightcoral;
  margin: 20px;
  padding-left: 30px;
}

.blue-text {
  background-color: blue;
  color: white;
}

.text-center {
  text-align: center;
}

#email {
  font-size: 30px;
}

.small {
  font-size: 5px;
}