@font-face {
  font-family: inter;
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: inter;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 50px;

  .logo {
    font-size: 4em;
    font-weight: bold;
  }

  .navbar {
    font-size: 0.8em;

    .nav-list {
      height: 100%;
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
}

.main {
  display: flex;
  gap: 20px;
  margin: 50px;

  .news-section {
    width: 66.66%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .main-img {
      object-fit: cover;
    }

    .news-text-section {
      display: flex;
      gap: 20px;

      .title {
        width: 50%;
        font-size: 3em;
        margin: 0;
      }

      .text-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 20px;

        .button {
          background-color: darkorange;
          color: white;
          border: none;
          padding: 10px 20px;
          letter-spacing: 5px;
        }
      }
    }
  }

  .aside-links {
    width: 33.33%;
    background-color: darkslateblue;
    color: white;
    padding: 20px;

    .aside-title {
      color: darkorange;
      font-size: 2em;
      margin: 0;
    }

    .aside-link {
      border-bottom: solid 1px lightgray;

      .link-text {
        color: lightgray;
        font-size: 0.8em;
      }
    }
    .aside-link:last-child {
      border: none;
    }
  }
}

.bottom-links {
  margin: 10px 50px;

  .link-list {
    display: flex;
    gap: 20px;

    .link-card {
      display: flex;
      gap: 20px;
      height: 200px;

      .number {
        color: lightgray;
      }
    }
  }
}